<h1> Bonjour, {{ name }} </h1>
<p>
    Une demande de réinitialisation de votre mot de passe a été effectuée sur votre compte. </p>
<p>
    Si vous souhaitez procéder à la réinitialisation de votre mot de passe, cliquez sur le lien suivant : <a href="{{url}}">cliquez ici</a>. Ce lien expirera dans une heure.
</p>
<p>Cas vous ne souhaitez pas procéder à la réinitialisation de votre mot de passe ou si vous n'avez pas effectué cette demande, aucune action n'est requise.</p>